.fixed-size-div {
  width: 600px; /* Change this to your desired width */
  height: 400px; /* Change this to your desired height */
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
/* BlogPostCard.css */

/* Base styles */

/* Define common styles for both mobile and desktop */

/* Styles for desktop devices */
@media (min-width: 768px) {
  .container {
    /* Adjust container styles for desktop */
    max-width: 768px; /* You can adjust the max-width as needed */
    margin: 0 auto; /* Center align the container */
  }

  .p-8 {
    /* Adjust padding for desktop */
    padding: 2rem;
  }

  /* Add more desktop-specific styles as needed */
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .p-8 {
    /* Adjust padding for mobile */
    padding: 1rem;
  }

  /* Add more mobile-specific styles as needed */
}
