.container {
  display: flex;
  /* width: 100%;  */
}

.major-part {
  flex: 4; /* Adjust as needed */
  width: 90%; /* Adjust as needed */
}

.minor-part {
  flex: 1;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease; /* Smooth transition between slides */
}
