@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f1f3;
}

.btn-cont {
  display: flex;
  flex-direction: "row";
  align-items: center;
  padding: 15px 0px;
  border-radius: 12px;
}
.status {
  padding: 0px 15px;
}

.btn {
  border: none;
  color: #394350;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #dee0e2;
  border-radius: 4px;
  padding: 6px 15px;
  margin: 0 10px;
}

.like-active {
  color: #012a30;
  background-color: #cdf6fc;
}

.dislike-active {
  color: #ffffff;
  background-color: #4d5662;
}
